--- 
title: It's only the tip of the hat!
---


.span-22
	.span-21.last.prepend-1
		%h1
			a
			%em p
			erfectly
			%em f
			unicular motion. Care for a ride?

	.span-22
		.span-10.prepend-1.append-1.tophat.border
			%a{:href => "img/party.png", :rel => "shadowbox"}
				%img{:src => "img/party_thumb.png", :width => "95%"}
		.span-10.tophat.last
			%h2
				Ladies & Gentlemen,
			%h3
				I've something to talk about.
				I am in no capacity to lie about any of tha~t! Utmost, it must be clear, 
				without even a rrrresidual doubt about, something plainly, indubitably,
				is abounding within my pretty mind. My rrrresolution falter may, so prod
				me when it does, for I may bibulously snap (awakening from such a great nap) and
				only because ... 
			%h3 I went to a marvelous party!
			%h3
				Where on the occasion, I took on a date six scrrrrumptious cakes out for some
				dinner and wine. We galavanted through the strrrreets and boy! did we have a big time.
				Now I see you make a serious inquire about how in the hell six fluffy desserts conspire
				to bring in a lad. It's all very sad, you say, to see such glee sprrrring
				unnaturally. But nevermind. 
			%h3	
				Weary though your queary is, I dare to tell you more, that by the last delight of light our
				skin was moored at every pore of wine, sweat, blood (of every form), and the after-glow of frrrrivolous
				elation. I remember nothing from then on, so the rrrrest is left to speculation.
			%h3	
				Now I know the lack of gore is such a bore but listen here. I have not much time 
				to explain what happened to my little Mouseketeers. To refuse to keep quiet on 
				the pruriently private, is foolish, ghoulish and dare I say obtuse 
			%h3 ... what I can say is ...
			%h3
				though the atmosphere was rather queer and the wine corks very loose, one thing here is awfully clear, 
				tha~t! you can be sure: I went to a marvelous party and I couldn't have liked it more!
	
	.span-14.prepend-4.append-4.last.tophat.border_top
		%h1.tophat_mini
			Stray not far. I do have more to tell.

.span-2.last
	%h5{:align => "justify"}
		An honest expectation of a reader's guilt
		to coerce the first of this pain
		to drrrrive you insane if my verse
		hasn't already done so.
		If I may be so bold to suggest
		that, to way-lay detest,
		you should really try to glean
		the best of me
		frrrrom this seemingly titivating
		text.
.span-22.border_bottom.tophat
.span-2.last
.span-8.prepend-7.append-9
	%h5{:align => "center"} 
		this is an 
		%em_new
			%script{:type => "text/javascript"}
				var r_text = new Array ();
				r_text[0] = "[ee-ger-joos]";
				r_text[1] = "[ih-gree-juhs]";
				r_text[2] = "[uh-grey-goos]";
				r_text[3] = "[Es.Gui.Re.]"
				var i = Math.floor(4*Math.random())
				document.write(r_text[i]);
		brrrrain child of obvious consequence from Noel Coward, whom I hope to meet on bonnie banks